<ion-header>
  <ion-toolbar color="warning">
    <ion-button color="warning" slot="start">
<ion-back-button text=""></ion-back-button>
    </ion-button>
    <ion-title>Mi Asistencia</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card >
    <ion-list [inset]="true" *ngIf="userInfoReceived | async as ch">
      <h1>{{ ch.username }}</h1>
      <h3>{{ ch.correo }}</h3>
    </ion-list>
    </ion-card>
    <ion-list color="warning">
      <ion-item *ngFor="let asistencia of asistencias">
        <ion-avatar slot="start">
          <img src="https://duckduckgo.com/i/0d7eda0e.png" alt="">
        </ion-avatar>
        <ion-label>
          <p>{{ asistencia.id_user }}</p>
          <p>{{ asistencia.materia }}</p>
          <p>{{ asistencia.fecha }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="(userInfoReceived | async)?.tipoUsuario !== 'profesor'">
      <ion-fab-button color="warning" id="open-modal" expand="block">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>    
    <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Cancel</ion-button>
            </ion-buttons>
            <ion-title>Asistencia</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="insertarAsistencia(asistencia)" [strong]="true">Confirm</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-item>
              <ion-input
                label="ingresa la materia"
                type="text"
                [(ngModel)]="asistencia.materia"
              ></ion-input>
            </ion-item>
        </ion-content>
      </ng-template>
    </ion-modal>
</ion-content>
