<ion-header>
  <ion-toolbar color="warning">
    <ion-button color="warning" slot="start">
<ion-back-button text=""></ion-back-button>
    </ion-button>
    <ion-title>Mi Asistencia</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <ion-list color="warning" [inset]="true" *ngIf="userInfoReceived | async as ch">
    <ion-item *ngFor="let asistencia of asistencias">
      <ion-avatar slot="start">
        <img src="https://duckduckgo.com/i/0d7eda0e.png" alt="">
      </ion-avatar>
      <ion-label>
        <h1>{{ ch.username }}</h1>
        <h3>{{ ch.correo }}</h3>
        <p>{{ asistencia.materia }}</p>
        <p>{{ asistencia.fecha }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
