<ion-header>
  <ion-toolbar color="warning">
    <ion-button color="warning" slot="start">
      <ion-back-button title=""></ion-back-button>
    </ion-button>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="register()">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Registro</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <ion-item>
            <ion-label position="floating">nombre de usuario </ion-label>
            <ion-input type="text" formControlName="username"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">contraseña</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">confirme contraseña</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">correo</ion-label>
            <ion-input type="email" placeholder="usuario@ejemplo.com" formControlName="correo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">telefono</ion-label>
            <ion-input type="tel" placeholder="+56" formControlName="telefono"></ion-input>
          </ion-item>
          <ion-title>tipo de usuario</ion-title>
          <ion-item>
            <ion-radio-group formControlName="tipoUsuario">
              <ion-item>
                <ion-label>profesor</ion-label>
                <ion-radio value="profesor" slot="start" ></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>alumno</ion-label>
                <ion-radio value="alumno" slot="start"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-item>
          <ion-item>
            <ion-label position="floating">nombre</ion-label>
            <ion-input type="text" formControlName="nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Carrera</ion-label>
            <ion-input type="text" formControlName="tipoCarrera"></ion-input>
          </ion-item>
              </ion-card-content>
            <ion-button type="submit" size="full" color="light">Registrar</ion-button>
    </ion-card>
      </form>
      <ion-item *ngIf="loginError" class="error-message"> <ion-card class="flex-center" color="danger">
        <p>Correo o/y contraseña incorrecta</p>
      </ion-card>
    </ion-item>
</ion-content>
