<ion-header>
  <ion-toolbar color="warning">
    <ion-button color="warning" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>
    <ion-button color="danger" slot="end" (click)="cerrar()">
      <ion-icon name="close" aria-hidden="true"></ion-icon>
    </ion-button>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-list color="warning" [inset]="true" *ngIf="userInfoReceived | async as ch">
  <ion-item>
    <ion-avatar slot="start">
      <img src="https://duckduckgo.com/i/0d7eda0e.png" alt="">
    </ion-avatar>
    <ion-label>
      <h1>{{ ch.username }}</h1>
      <h3>{{ ch.correo }}</h3>
      <p>{{ ch.tipoUsuario }}</p>
    </ion-label>
  </ion-item>
</ion-list>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Asistencia</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-item lines="none">
      <ion-icon name="hourglass-outline" slot="start" color="warning"></ion-icon>
      <ion-label>
        presente
        <p>22/10/2023</p>
      </ion-label>
    </ion-item>
    <ion-button color="warning" fill="clear" size="full" (click)="miAsistencia()">ver todo</ion-button>
  </ion-card-content>
</ion-card>
</ion-content>
