<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Ingrese el valor de "data"</ion-label>
      <ion-input [(ngModel)]="dato"></ion-input>
    </ion-item>
    <ion-button (click)="generarClase()">Generar QR</ion-button>
    <ion-img [src]="qrCode"></ion-img>
  </ion-list>
  <ion-button size="full" color="warning" (click)="verAsistencia()">Ver Asistencia</ion-button>
</ion-content>
