<ion-header>
  <ion-toolbar color="success">
    <ion-button color="success" slot="start">
<ion-back-button text=""></ion-back-button>
    </ion-button>
    <ion-title>Lista De Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list color="success">
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://duckduckgo.com/i/0d7eda0e.png" alt="">
      </ion-avatar>
      <ion-label>
        <h1>benjamin salas</h1>
        <h3>benjabox1@gmail.com</h3>
        <p>alumno</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://duckduckgo.com/i/0d7eda0e.png" alt="">
      </ion-avatar>
      <ion-label>
        <h1>benjamin salas</h1>
        <h3>benjabox1@gmail.com</h3>
        <p>alumno</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://duckduckgo.com/i/0d7eda0e.png" alt="">
      </ion-avatar>
      <ion-label>
        <h1>benjamin salas</h1>
        <h3>benjabox1@gmail.com</h3>
        <p>alumno</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
